body,html {
	padding: 0;
	margin:0;
	font-family: Roboto, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-image: url(../img/Background_faded3bl.png);
	background-repeat: repeat;
	background-size: 1	00%;
}

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 840px;
		height: 60px;
		background-color: #041b2b;
		border: 1px solid #ba8c32;
		border-top: none;
		border-radius: 0px 0px 10px 10px;
		color: #ba8c32;
		margin-bottom: 10px;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 840px;
		height: 30px;
		background-color: #041b2b;
		border: 1px solid #ba8c32;
		border-radius: 10px 10px 0px 0px;
		color: #ba8c32;
		margin-top: 10px;
	}

		.footer a {
			color: #ba8c32;
			text-decoration: none;
			font-size: 14px;
		}

		.footer span {
			font-size: 14px;
			color: #757575;
		}

		.footer .flex_hidden {
			min-width: 450px;
		}

		.header_title {
			height: 50px;
			min-width: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.flex_hidden {
			flex-grow: 1;
			max-width: 9%;
			border: none;
		}

	.global_rates {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 560px;
		height: 50px;
	}

		.global_rates_blue, .global_rates_purple, .global_rates_gold {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 190px;
			height: 50px;
		}

		.global_rates_gold {
			width: 140px;
		}

		.global_rates_blue .global_rates_img {
			width: 40px;
			height: 40px;
			outline: 1px solid black;
		}

		.global_rates_purple .global_rates_img {
			width: 40px;
			height: 40px;
			outline: 1px solid black;
		}

		.global_rates_gold .global_rates_img {
			width: 40px;
			height: 40px;
			outline: 1px solid black;
		}

			.global_rates_img img {
				max-width: 40px;
				max-height: 40px;
				border:1px solid #05c8f6;
			}

			.global_rates_current {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 90px;
				height: 40px;
			}

			.global_rates_gold .global_rates_current {
				width: 40px;
			}

				.global_rates_current_epic,.global_rates_current_legendary {
					width: 38px;
					height: 38px;
					display: flex;
					justify-content: center;
					align-items: center;
					outline: 1px solid black;
					font-size: 14px;
					border:1px solid #05c8f6;
					border-radius: 5px;
				}

				.global_rates_current_epic {
					color: #a603a6;
				}

				.global_rates_current_legendary {
					color: gold;
				}

			.global_rates_button {
				width: 38px;
				height: 38px;
				display: flex;
				justify-content: center;
				align-items: center;
				border:1px solid #05c8f6;
				border-radius: 5px;
			}

				.global_rates_button .switch {
					width: 38px;
					height: 38px;
					background-color: transparent;
					border: none;
					color: white;
				}

	.shards {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 840px;
		height: 450px;
		border: 1px solid #ba8c32;
	}

	.shards_header {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 840px;
		height: 30px;
		border-bottom: 1px solid #ba8c32;
		color: #ba8c32;
		background-color: #041b2b;
	}

		.type {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 64px;
			font-size: 13px;
		}

		.actual_rates_title {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 110px;
			font-size: 13px;
		}

		.counter_title {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 150px;
			font-size: 13px;
		}

		.event_title {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			font-size: 13px;
		}

		.rates_fact_title {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			font-size: 13px;
		}

		.first_player {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			height: 430px;
			width: 840px;
			background-color: #165976;
		}

			.blue,.purple,.gold {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				width: 100%;
				min-height: 130px;
				/*
				border: 1px solid #05c8f6;
				border-radius: -10px;
				*/
				background:
                linear-gradient(135deg, transparent 15px, #124058 0) top left,
                linear-gradient(225deg, transparent 15px, #124058 0) top right,
                linear-gradient(315deg, transparent 15px, #124058 0) bottom right,
                linear-gradient(45deg,  transparent 15px, #124058 0) bottom left;
		        background-size: 50% 50%;
		        background-repeat: no-repeat;
			}

				.blue .pic {
					max-width: 64px;
					max-height: 64px;
				}

					.shard_image {
						max-width: 64px;
						max-height: 64px;
					}

				.purple .pic {
					width: 64px;
					height: 64px;
					background-color: purple;
				}

				.gold .pic {
					width: 64px;
					height: 64px;
					background-color: gold;
				}

				.actual_rates {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					width: 110px;
					height: 110px;
				}

				.gold .actual_rates {
					height: 50px;
				}

					.actual_rates_epic,.actual_rates_legendary {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						height: 50px;
						width: 110px;
					}

					.actual_rates_epic .rate,.actual_rates_epic .av_shards{
						color: #a603a6;
					}

					.actual_rates_legendary .rate,.actual_rates_legendary .av_shards{
						color: gold;
					}

						.rate,.av_shards {
							width: 50px;
							height: 50px;
							display: flex;
							justify-content: center;
							align-items: center;
							border:1px solid #05c8f6;
							border-radius: 5px;
						}

				.counter_block {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					height: 110px;
					width: 150px;
				}

					.counter {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 50px;
						height: 50px;
						border:1px solid #05c8f6;
						border-radius: 5px;
						color: white;
					}

					.buttons_counter,.buttons_counter2 {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						height: 110px;
						width: 30px;
					}

						.button {
							width: 30px;
							height: 30px;
							display: flex;
							justify-content: center;
							align-items: center;
							background-color: transparent;
							border: 1px solid #05c8f6;
							border-radius: 4px;
							color: white;
							font-size: 12px;
						}

						button::focus {
						    appearance: none;
						}

						.plus,.plus5,.plus10 {
							color: #37b50d;
						}

						.minus,.minus10 {
							color:red;
						}

				.event {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					height: 100px;
					width: 40px;
				}

				.gold .event {
					height: 40px;
				}

					.event-epic,.event-legendary {
						width: 40px;
						height: 40px;
					}

					.event-epic {
						background-image: url(../img/hero_epic.png);
						background-position: 50% 50%;
						background-color: transparent;
						background-repeat: no-repeat;
						border: 1px solid #05c8f6;
						border-radius: 5px;
					}

					.event-legendary {
						background-image: url(../img/hero-legendary2.png);
						background-position: 50% 50%;
						background-color: transparent;
						background-repeat: no-repeat;
						border: 1px solid #05c8f6;
						border-radius: 5px;
					}

				.rates_fact {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					height: 100px;
					width: 40px;
				}

				.gold .rates_fact {
					height: 40px;
				}

					.rates_fact-epic,.rates_fact-legendary {
						width: 60px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						border:1px solid #05c8f6;
						border-radius: 5px;
						color: white;
					}

/* Служебные классы */
	
.faded {
	filter: brightness(70%);
}